@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    box-sizing:border-box;
}
header{
    width: 1600px;
    height:808px;
    background-image:url('../images/banner/banner1.png');
    background-position: center;
    background-size: cover;
    display:flex;
    /* justify-content: right; */

}
nav{
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: center;
    position:absolute;
    padding-top:20px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 10px 50px;
    transform: translateY(0px);
    transition:all 0.5s;
}
nav li:hover{
    transform: translateY(-3px);
}
nav a{
    text-decoration:none;
    background-color:transparent;
    color:#F15B22;
    padding:10px 20px;
    border: 2px solid #F15B22;
    border-radius: 8px;
    transition:all 0.5s;
}
.active{
    color:#FFF;
    background-color: #F15B22;
}
nav a:hover{
    color:#FFF;
    background-color: #F15B22;

}
.header-continer{
    width: 80%;
    margin: auto;
    text-align: right; 

}
.header-content{
    width:50%;
    margin-left:auto;
}

.header-heading{
    color:#151414;
    font-size: 65px;
    font-weight: 700;
}
.header-deriptionsc{
    color:  #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 494px;
}
.header-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding:20px 25px;
    background-color:#F15B22;
    border:none;
    border-radius:5px;
    margin-top:32px;
}
