header{
    background-image:url('../images/banner/banner3.png');
}
.watch{
    background:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
}